<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Game</title>
</head>
<body>
<h1>Edit Game</h1>
<form th:action="@{/admin/games/{id}(id=${game.id})}" th:object="${game}" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label><br>
    <input type="text" id="name" th:field="*{name}"required><br>
    <label for="developer">Developer:</label><br>
    <select id="developer" th:field="*{developer.id}">
		<option th:each="developer : ${developers}" th:value="${developer.id}" th:text="${developer.name}"></option>
	</select><br>
	<label for="developer">Developer:</label><br>
	<select id="genre" th:field="*{genre.id}">
		<option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
	</select><br>
	<label for="description">Description:</label><br>
    <input type="text" id="description" th:field="*{description}"required><br>
	<label for="file">File:</label><br>
    <input type="file" id="file" name="file"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
