<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Games</title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/><br></form>
<h1>Games</h1>
<a href="/admin/games/new">Create new game</a>
<form th:action="@{/games}" method="get">
    <select name="developerId">
        <option value="">All Developers</option>
        <option th:each="developer : ${developers}" th:value="${developer.id}" th:text="${developer.name}"></option>
    </select>
    <select name="genreId">
        <option value="">All Genres</option>
        <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
    </select>
    <input type="submit" value="Search">
</form>
<table>
    <tr>
        <th>Name</th>
        <th>Developer</th>
        <th>Genre</th>
        <th>Actions</th>
    </tr>
    <tr th:each="game : ${games}">
        <td><a th:href="@{/games/{id}(id=${game.id})}"th:text="${game.name}"></a></td>
        <td th:text="${game.developer.name}"></td>
        <td th:text="${game.genre.name}"></td>
        <td>
            <a th:href="@{/admin/games/{id}/edit(id=${game.id})}">Edit</a>
            <a th:href="@{/admin/games/{id}/delete(id=${game.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>