<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Game</title>
</head>
<body>
	<form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/><br></form>
<h1>Create New Game</h1>
<form th:action="@{/admin/games}" th:object="${game}" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label><br>
    <input type="text" id="name" th:field="*{name}" required><br>
    <label for="developer">Developer:</label><br>
    <select id="developer" th:field="*{developer.id}">
		<option th:each="developer : ${developers}" th:value="${developer.id}" th:text="${developer.name}"></option>
	</select><br>
	<label for="developer">Developer:</label><br>
	<select id="genre" th:field="*{genre.id}">
		<option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
	</select><br>
	<label for="description">Description:</label><br>
    <input type="text" id="description" th:field="*{description}" required><br>
	<label for="file">File:</label><br>
    <input type="file" id="file" name="file" required><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>