<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Developer</title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/><br></form>
<h1>Create New Developer</h1>
<form th:action="@{/admin/developers}" th:object="${developer}" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" th:field="*{name}" required><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>